<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @ncar.photo.url(:small) %>
</p>

<p>
  <b>Oem:</b>
  <%= @ncar.oem %>
</p>

<p>
  <b>Model:</b>
  <%= @ncar.model %>
</p>

<p>
  <b>Transmission:</b>
  <%= @ncar.transmission %>
</p>

<p>
  <b>Drive type:</b>
  <%= @ncar.drive_type %>
</p>

<p>
  <b>Engine size:</b>
  <%= @ncar.engine_size %>
</p>

<p>
  <b>Seat material:</b>
  <%= @ncar.seat_material %>
</p>

<p>
  <b>Performance:</b>
  <%= @ncar.performance %>
</p>

<p>
  <b>Gearbox:</b>
  <%= @ncar.gearbox %>
</p>

<p>
  <b>Body style:</b>
  <%= @ncar.body_style %>
</p>


<%= link_to 'Edit', edit_ncar_path(@ncar) %> |
<%= link_to 'Back', ncars_path %>
