<p id="notice"><%= notice %></p>
<p>
	<%= image_tag @ocar.photo.url(:small) %>
</p>

<p>
  <b>Oem:</b>
  <%= @ocar.oem %>
</p>

<p>
  <b>Model:</b>
  <%= @ocar.model %>
</p>

<p>
  <b>Transmission:</b>
  <%= @ocar.transmission %>
</p>

<p>
  <b>Drive type:</b>
  <%= @ocar.drive_type %>
</p>

<p>
  <b>Engine size:</b>
  <%= @ocar.engine_size %>
</p>

<p>
  <b>Seat material:</b>
  <%= @ocar.seat_material %>
</p>

<p>
  <b>Performance:</b>
  <%= @ocar.performance %>
</p>

<p>
  <b>Gearbox:</b>
  <%= @ocar.gearbox %>
</p>

<p>
  <b>Body style:</b>
  <%= @ocar.body_style %>
</p>

<p>
  <b>Owner:</b>
  <%= @ocar.owner %>
</p>

<p>
  <b>Telephone:</b>
  <%= @ocar.telephone %>
</p>

<p>
  <b>Image url:</b>
  <%= @ocar.image_url %>
</p>


<%= link_to 'Edit', edit_ocar_path(@ocar) %> |
<%= link_to 'Back', ocars_path %>
